@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Bu proje Ahmet İstemihan ÖZTÜRK tarafından ve Doç. Dr. Abdulkadir KARACI danışmanlığı ile <br />
    Ahmet Yesevi Üniversitesi TÜRTEP Bilgisayar Mühendisliği Proje II dersi için 2022'de tasarlanmıştır.<br />
    Tüm Hakları Saklıdır.</p>
