
@{
    ViewData["Title"] = "OrderComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Sipariş Tamamlandı!</h3>
<h5>Satın aldığınız ürünler en kısa süre içerisinde kargoya verilecektir.</h5>

