<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OnlineUrunSatis.Properties.Settings.OnlineUrunSatisWebConnectionString"
            connectionString="Data Source=DCM13;Initial Catalog=OnlineUrunSatisWeb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>