@model IEnumerable<OnlineUrunSatisWeb.Models.Category>
<div class="col-md-3">
    <div class="card">
        <div class="list-group">
            <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action @(ViewBag.CategoryId==null?"active":"")" aria-current="true">
                TÜM ÜRÜNLER
            </a>
            @foreach (var item in Model)
            {
                if (item.Id == 1)
                {
                    continue;
                }
                <a asp-action="CategoryDetails" class="list-group-item list-group-item-action @(ViewBag.CategoryId?.ToString()==item.Id.ToString()?"active":"")" asp-route-id="@item.Id">@item.Name</a>
            }
        </div>
    </div>
</div>